.titleworks {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.75rem;
  color: #7960ae;
}

.titleworks hr {
  width: 25%;
  height: 3px;
  background-color: #9b82cf;
}

@media (max-width: 768px) {

  .titleworks {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    color: #7960ae;
  }
  
  .titleworks hr {
    width: 15%;
    height: 3px;
    background-color: #9b82cf;
  }

}
@media (max-width: 480px) {

  .titleworks {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    color: #7960ae;
  }
  
  .titleworks hr {
    width: 15%;
    height: 3px;
    background-color: #9b82cf;
  }

}
