.containerImagens {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.nomePasta {
  font-size: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.subMenu{
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    border-top: 2px solid #7960ae;
}

.subMenu button{
    background-color: #f5f5f5;
    border: 0px;
    /* border-top: 2px solid #7960ae; */
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
}
.subMenu button:hover{
    background-color: #e5e5e5;
    color:#8a51bf;
}

.galeria {
  column-count: 1;
  column-gap: 1rem;
}

@media (min-width: 480px) {
  .galeria {
    column-count: 2;
  }
  .subMenu{
    width: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 0.1rem;
    border-top: 2px solid #7960ae;
}

    .subMenu button{
        background-color: #05f5f5;
        border: 0px;
        padding: 0.1rem 0.5rem;
        font-size: 0.7rem;
        cursor: pointer;
        text-transform: uppercase;
    }

}

@media (min-width: 768px) {
  .galeria {
    column-count: 3;
  }

  
}

@media (min-width: 1024px) {
  .galeria {
    column-count: 4;
  }
}

.fotos {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  break-inside: avoid;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.fotos:hover {
  transform: scale(1.02);
}
