.box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.banner {
  width: 100%;
}
.bannerText {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #594c74;
  font-size: 1.5rem;
  margin-bottom: 0;
}
.bannerText2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: #8471ad;
  font-size: 1.3rem;
  margin: 5px 10px;
}
